
.loginTittle{
    text-align: center;
    position: relative;
    top: 35px;
    z-index: 100;
}

.cardBodyl{
   width: 36rem;
   height: 34rem;
   position: absolute;
   top: 60px;
   left: 460px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   background-color: #EFECEC;
   
}

img{
    width: 150px;
    height: 90px;
    position: relative;
    left: 200px;
    top: 40px;
}

.subtitle{
    text-align: center;
    position: relative;
    font-size: 20px;
    top: 65px;
    font-family: cursive;
}

.tagline{
        text-align: center;
        position: relative;
        font-size: 20px;
        top: 50px;
        color: black;
        text-align: center;
        font-family: cursive;
}

.submit{
    position: relative;
    top: 25px;
    left: 175px;
    margin-right: 20px;
    width: 90px;
    height: 40px;
}

.stitle{
    font-size: 17px;
    text-align: center;
    position: relative;
    top: 10px;
}

.loginform{
    position: relative;
    top: 100px;
}