.ownerCard{
    width: 36rem;
    height: 28rem;
    position: absolute;
    top: 94px;
    left: 232px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #EFECEC; 
 }

 .profilePictureCard{
    width: 33rem;
    height: 28rem;
    position: absolute;
    top: 94px;
    left: 891px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #EFECEC;
 }


 .profileTitle{
    text-align: center;
    position: relative;
    top: 15px;
    z-index: 100;
}

.oform{
    position: relative;
    top: 30px;
}

.submitp{
    position: relative;
    top: 10px;
    left: 220px;
    margin-right: 20px;
    width: 90px;
    height: 40px;
}

.infoButton{
    position: relative;
    left: 1247px;
    top: 2px;
}

.profilePicture{
    width: 413px;
    height: 250px;
    position: relative;
    left: 54px;
    top: 20px;
}


.pform
{
    position: relative;
    top: 49px;
    left: 6px;
}

.psubmit{
    position: relative;
    top: -7px;
    left: 200px;
}
