.sidebarBody{
  width: 200px;
  height: 100vh;
  position: absolute;
  background-color: #2b2b2b;
  top: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.itembody{
  display: flex;
  width: 200px;
  border-bottom: solid 1px white;
  margin-top: 10px;
  padding-bottom: 5px;
}

.icon{
  color: white;
  width: 30%;
  margin-left: 10px;
}

.ititle{
 color: white;
 width: 70%;
}

li :hover{
  color: grey;
  cursor: pointer;
}